.log-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    background: linear-gradient(rgba(26, 58, 95, 0.7), rgba(26, 58, 95, 0.7)), 
                url('/static/data/bg_login.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 85vh; 
    margin: 0;
}

.log-card {
    background: #ffffff;
    width: 100%;
    max-width: 450px; 
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 6px solid var(--secondary-color);
    transition: transform 0.3s ease;
}

.log-header {
    text-align: center;
    margin-bottom: 35px;
}

.log-header h1 {
    color: var(--primary-color);
    margin-bottom: 12px;
    font-size: 2.2rem;
    margin-top: 0;
    font-weight: 800;
}

.log-brand-text {
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 1px;
}

.log-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.log-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.log-group label {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.log-group input {
    padding: 14px 18px;
    border: 2px solid #edf2f7;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
    background-color: #f8fafc;
}

.log-group input:focus {
    border-color: var(--secondary-color);
    background-color: #ffffff;
    box-shadow: 0 0 0 4px rgba(243, 156, 18, 0.1);
}

.log-btn-submit {
    background-color: var(--primary-color);
    color: white;
    padding: 16px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-btn-submit:hover {
    background-color: #122a46;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(26, 58, 95, 0.2);
}

.log-footer-links {
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid #f1f5f9;
}

.log-link-forgot {
    display: block;
    color: var(--gray);
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 10px;
    transition: 0.2s;
}

.log-link-forgot:hover {
    color: var(--primary-color);
}

.log-footer-links p {
    color: var(--text-dark);
    font-size: 0.95rem;
}

.log-link-reg {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.log-link-reg:hover {
    text-decoration: underline;
}


@media (max-width: 480px) {
    .log-card { padding: 30px 20px; }
    .log-header h1 { font-size: 1.8rem; }
}