<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}parKING Service{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    {% block extra_css %}{% endblock %}
</head>
<body>

    {% include "navbar.html" %}

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    
    {% include "footer.html" %}
    
</body>
</html>